@page "/logout"
@using Microsoft.AspNetCore.Identity
@using Normy.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager Nav
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<p>Wylogowywanie...</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SignInManager.SignOutAsync();
        Nav.NavigateTo("/login", true);
    }
}